/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url('./imagenes/fondo_inicio.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body {
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  color: #333;
}

background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  opacity: 0.3;
}

/* Header */
header {
  background-color: #343a40;
  padding: 1rem;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

/* Header navbar con botón a la derecha */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Botón en el header */
.nav-button .btn {
  background-color: #495057;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.nav-button .btn:hover {
  background-color: #6c757d;
}


nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Main */
main {
  flex: 1;
  padding: 2rem;
  margin-left: 15%;
  margin-right: 15%;
}

main p {
  text-align: justify;
  padding: 4px;
}

.index_p {
  all: unset
}


/* Footer */
footer {
  background-color: #343a40;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}

.social-links {
  margin-top: 1rem;
}

.social-links a {
  color: #fff;
  background: #495057;
  padding: 0.5rem;
  margin: 0 0.3rem;
  border-radius: 50%;
  font-size: 1.2rem;
  display: inline-block;
  transition: transform 0.3s;
}

.social-links a:hover {
  transform: scale(1.2);
}


/* Proyectos */
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.project-card {
  background: rgba(255, 255, 255, 0.9);
  padding: 1rem;
  border-radius: 10px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.project-card a {
  display: inline-block;
  margin-top: 0.5rem;
  color: #343a40;
  font-weight: bold;
  text-decoration: none;
}

.project-card a:hover {
  text-decoration: underline;
}
